@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}

:root{
    --text-color:#4aff47;
    --main-color:#050c9c;
    --sec-color:#64df00;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #2C3E50;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

.logo span{
    color: var(--text-color);
}

.navbar{
    position: relative;
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--sec-color);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://images.pexels.com/photos/243945/pexels-photo-243945.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}